form textarea {
	padding: 6px;
	font-size: 13px;
	background: #fff url('../images/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
}

form textarea {
	width: 99% !important;
	font-family: Arial, Helvetica, sans-serif;
}
                
